body {font-family: Arial; background:#eef2f7; text-align:center;}
form {
background:white; width:360px; margin:auto; padding:20px;
border-radius:10px; box-shadow:0 0 10px #aaa;
}
input, select, button {
width:100%; padding:10px; margin:8px 0;
}
button {background:#0066ff; color:white;}